@model IEnumerable<WarehouseAllVM>
@{
    ViewBag.ptitle = "Warehouse";
    var UpdateAt = (DateTime)ViewBag.UpdateAt;
}

<style>
    .ediv {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 700px;
    }
</style>
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2>@ViewBag.ptitle</h2>
                        <ul class="nav nav-tabs pull-right">
                            <li>
                                <a data-toggle="tab" href="#hb1">@ViewBag.ptitle</a>
                            </li>
                        </ul>
                    </header>

                    <div>
                        <div class="widget-body no-padding">
                            <div id="content" class="tab-content">
                                <div class="tab-pane" id="hb1">
                                    <fieldset>
                                        <legend></legend>
                                        <div class="form-group">
                                            <div class="col-sm-9  col-lg-offset-10">
                                                <a class='btn btn-primary btn-sm' id='Refresh'>Refresh </a>
                                            </div>
                                            <div class="col-sm-9  col-lg-offset-10">
                                                Last Updated On @(UpdateAt.ToLocalTime())
                                            </div>
                                        </div>
                                        <div class="row">
                                            <article class="col-xs-12">
                                                <table id="DataGrid" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>@Html.DisplayName("ID")</th>
                                                            <th>@Html.DisplayName("Name")</th>
                                                            <th>@Html.DisplayName("Type")</th>
                                                            <th>@Html.DisplayName("Fulfillable")</th>
                                                            <th>@Html.DisplayName("Awaiting Dispatch")</th>
                                                            <th>@Html.DisplayName("Transit (Out) & Transit(In)")</th>
                                                            <th>@Html.DisplayName("WinitTransit (Out) & WinitTransit (In)")</th>
                                                            <th>@Html.DisplayName("Aggregate")</th>
                                                            <th>SKU ITEM</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model != null)
                                                        {
                                                            foreach (var item in Model)
                                                            {
                                                                <tr>
                                                                    <td align='center' valign="middle">@item.ID</td>
                                                                    <td align='center' valign="middle">@item.Name</td>
                                                                    <td align='center' valign="middle">@item.Type</td>
                                                                    <td align='center' valign="middle">@item.Fulfillable</td>
                                                                    <td align='center' valign="middle">@item.Awaiting</td>
                                                                    <td align='center' valign="middle">@item.TransferOutQTY / @item.TransferInQTY</td>
                                                                    <td align='center' valign="middle">@item.WTransferOutQTY / @item.WTransferInQTY</td>
                                                                    <td align='center' valign="middle">@item.Aggregate</td>
                                                                    <td align='center' valign="middle">
                                                                        <a class='btn btn-default btn-sm' id='index' href='@Url.Action("index", "WarehouseInventory", new { item.ID })'>SKU</a>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </article>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section pagespecific {
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        var hash = window.location.hash;
        $('ul.nav-tabs li').eq(hash.substr(1)).addClass('active');
        $('.tab-pane').eq(hash.substr(1)).addClass('active');

        //$('.datepicker').datepicker({
        //    dateFormat: 'yy-mm-dd'
        //});
        $(document).ready(function () {
            $('#DataGrid').DataTable({
                "pageLength": 50,
            });
            $("#Refresh").click(function () {
                if (confirm("Update inventory may take over 20 minutes to finish. Do you wish to continue?")) {
                    $.ajax({
                        url: '@Url.Action("WarehouseInventory", "Ajax")',
                        beforeSend: function (XMLHttpRequest) {
                            $.blockUI({
                                message: '<h1>loading...</h1>'
                            });
                        },
                        success: function (data) {
                            window.location.reload();
                        },
                        complete: function (XMLHttpRequest, textStatus) {

                        },
                        error: function (XMLHttpRequest, textStatus) {

                        }
                    });
                }
            });
        });
    </script>
}





