@model IEnumerable<StatementVM>
@{
    ViewBag.title = "Inventory Statement";
}
<style>
    tfoot {
        display: table-header-group;
    }
</style>
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2>清單</h2>
                        <ul class="nav nav-tabs pull-right">
                            <li><a data-toggle="tab" href="#hb1">@ViewBag.title</a></li>
                        </ul>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <form id="data-form" class="form-horizontal" method="post" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="IsEnable" value="True">
                                <div id="content" class="tab-content">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="tab-pane" id="hb1">
                                        <fieldset>
                                            <legend>@ViewBag.Company</legend>
                                        </fieldset>
                                        <fieldset>
                                            <legend>@ViewBag.Name</legend>
                                            <div class="row">
                                                <article class="col-xs-12">
                                                    <table id="DataGridC" class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>SKU</th>
                                                                <th>Date</th>
                                                                <th>Supplier</th>
                                                                <th>Channel</th>
                                                                <th>IS Type</th>
                                                                <th>ID</th>
                                                                <th>Warehouse</th>
                                                                <th>Serial</th>
                                                                <th>QTY</th>
                                                                <th>Price</th>
                                                                <th>Balance (Aggregate)</th>
                                                                <th>Balance (Available)</th>
                                                                <th>Value (Available)</th>
                                                            </tr>
                                                        </thead>
                                                        <tfoot></tfoot>
                                                        <tbody>
                                                            @foreach (var item in Model)
                                                            {
                                                            <tr>
                                                                <td></td>
                                                                <td>@item.SKU</td>
                                                                <td>@item.Date</td>
                                                                <td>@item.Supplier</td>
                                                                <td>@item.Channel</td>
                                                                <td>@item.ISType</td>
                                                                <td>@item.ID</td>
                                                                <td>@item.Warehouse</td>
                                                                <td>@item.Serial</td>
                                                                <td>@item.QTY</td>
                                                                <td>@item.price</td>
                                                                <td>@item.BalanceAggregate</td>
                                                                <td>@item.BalanceAvailable</td>
                                                                <td>@item.ValueAvailable</td>
                                                            </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </article>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="widget-footer">
                                    @*<button type="submit" class="btn btn-primary" id="save">儲存</button>*@
                                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index","WarehouseInventory",new {id= ViewBag.WarehouseID})'">返回</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section pagespecific {
    <script type="text/javascript">
        var hash = window.location.hash;
        $('ul.nav-tabs li').eq(hash.substr(1)).addClass('active');
        $('.tab-pane').eq(hash.substr(1)).addClass('active');

        //$('.datepicker').datepicker({
        //    dateFormat: 'yy-mm-dd'
        //});
        $(document).ready(function () {
            var tableID = "#DataGridC";
            $(tableID + " thead tr").clone().appendTo($(tableID + " tfoot"));
            $(tableID + " tfoot th").each(function () {
                var title = $(this).text();
                if (title != "") {
                    $(this).html('<input type="text" placeholder="Search ' + title + '" />');
                }
            });
            var DataGridC = $(tableID).DataTable({
                "columnDefs": [{ "orderable": false, "targets": 0 }],
                "order": []
            });

            DataGridC.columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });
    </script>
}



