@model inventorySKU.Models.Sku

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sku</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsEnable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEnable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentSku)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentSku)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentKit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentKit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condition1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkuType.AttributeGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkuType.AttributeGroup)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
