@model PurchaseOrderSys.Models.Marketplace
@section styles{
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <style>
        .datagrid-btable .filterColumn:first-child td div {
            padding: 0
        }
    </style>
}
<div id="content">
    <section id="widget-grid" class="">
        <section id="widget-grid" class="">
            <div class="row">
                <div class="table-parent tool-content col-xs-12">
                    <div class="action-button col-xs-2 col-xs-offset-10">
                        <a class="btn btn-default" href="@Url.Action("Create", "Marketplace")">新增</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <article class="col-xs-12">
                    <table id="DataGrid"></table>
                </article>
            </div>
        </section>
        <div class="row">
            <article class="col-xs-12">
                <table id="DataGrid"></table>
            </article>
        </div>
    </section>
</div>
@section pagespecific {
    <script src="~/scripts/jquery.easyui-1.4.3.min.js"></script>
    <script src="~/scripts/datagrid-detailview.js"></script>
    <script src="~/scripts/jquery.number.min.js"></script>
    <script type="text/javascript">
        var pager, pageSize = 100, selectOption;
        var $table = $("#DataGrid"), datagrid;

        $(function () {
            var data = { optionType: ['Company', 'Currency', 'NetoGroup'] };

            website.AjaxUrl("@Url.Action("GetSelectOption", "Ajax")", 'post', data).done(function (response) {
                if (response.status) {
                    selectOption = response.data;

                    dataInit();
                } else {
                    alert(response.message);
                }
            });
        });

        function dataInit() {
            datagrid = new Datagrid("Marketplace 列表", "ID", "@Url.Action("GetData")");

            datagrid.dataInit.frozenColumns = [[
                { field: "ck", checkbox: true },
                { field: "ID", title: "@Html.DisplayNameFor(model => model.ID)", width: 100, align: "center", sortable: false }
            ]];

            datagrid.dataInit.columns = [[
                {
                    field: "FullName", title: "@Html.DisplayNameFor(model => model.FullName)", width: 150, align: "center", sortable: false,
                    formatter: function (value, row, index) {
                        return website.IsEmpty(row.IsFilter) ? datagrid.setInputText(row.ID, this.field, value) : value;
                    }
                }, {
                    field: "GlobalID", title: "@Html.DisplayNameFor(model => model.GlobalID)", width: 150, align: "center", sortable: false,
                    formatter: function (value, row, index) {
                        return website.IsEmpty(row.IsFilter) ? datagrid.setInputText(row.ID, this.field, value) : value;
                    }
                }, {
                    field: "CountryCode", title: "@Html.DisplayNameFor(model => model.CountryCode)", width: 100, align: "center", sortable: false,
                    formatter: function (value, row, index) {
                        return website.IsEmpty(row.IsFilter) ? datagrid.setInputText(row.ID, this.field, value) : value;
                    }
                }, {
                    field: "CompanyID", title: "@Html.DisplayNameFor(model => model.CompanyID)", width: 250, align: "center", sortable: false,
                    formatter: function (value, row, index) {
                        return website.IsEmpty(row.IsFilter) ? datagrid.setDropdown(row.ID, this.field, selectOption['Company'], value.toString()) : value;
                    }
                }, {
                    field: "CurrencyID", title: "@Html.DisplayNameFor(model => model.CurrencyID)", width: 250, align: "center", sortable: false,
                    formatter: function (value, row, index) {
                        return website.IsEmpty(row.IsFilter) ? datagrid.setDropdown(row.ID, this.field, selectOption['Currency'], value.toString()) : value;
                    }
                }, {
                    field: "NetoGroup", title: "@Html.DisplayNameFor(model => model.NetoGroup)", width: 250, align: "center", sortable: false,
                    formatter: function (value, row, index) {
                        return website.IsEmpty(row.IsFilter) ? datagrid.setDropdown(row.ID, this.field, selectOption['NetoGroup'], value.toString()) : value;
                    }
                }, {
                    field: "DispatchTime", title: "@Html.DisplayNameFor(model => model.DispatchTime)", width: 100, align: "center", sortable: false,
                    formatter: function (value, row, index) {
                        return website.IsEmpty(row.IsFilter) ? datagrid.setInputText(row.ID, this.field, value) : value;
                    }
                }, {
                    field: "Save", title: "Save", width: 90, align: "center", sortable: false,
                    formatter: function (value, row, index) {
                        if (website.IsEmpty(row.IsFilter)) {
                            return "<button type='button' class='btn btn-default btn-sm' id='btn-save' onclick='SaveData(" + row.ID + ")' disabled>SAVE</button>";
                        } else {
                            return value;
                        }
                    }
                }, {
                    field: "Action", title: "Action", width: 90, align: "center", sortable: false,
                    formatter: function (value, row, index) {
                        if (website.IsEmpty(row.IsFilter)) {
                            return "<a class='btn btn-default btn-sm' href='@Url.Action("Edit", "Marketplace")/" + row.ID + "'>EDIT</button>";
                        }
                    }
                }
            ]];

            $table.datagrid(datagrid.dataInit);

            pager = $table.datagrid("getPager");
            $(pager).pagination({
                pageSize: pageSize,
                showPageList: true,
                pageList: [100, 200, 300, 500],
                beforePageTest: "第",
                afterPageTest: "頁，共 {pages} 頁",
                displayMsg: "顯示 {from} 到 {to} 筆資料，共 {total} 筆資料"
            });
        }

        function getFilterData() {
            return {
                ID: $('.filterColumn .s-ID').val(),
                FullName: $('.filterColumn .s-fullName').val(),
                GlobalID: $('.filterColumn .s-globalID').val(),
                CountryCode: $('.filterColumn .s-countryCode').val(),
                CompanyID: $('.filterColumn .s-companyID').val(),
                CurrencyID: $('.filterColumn .s-currencyID').val(),
                NetoGroup: $('.filterColumn .s-netoGroup').val(),
                DispatchTime: $('.filterColumn .s-dispatchTime').val()
            };
        }

        function setFilterColumn(filterValue) {
            return {
                IsFilter: true,
                ID: "<input type='text' class='form-control s-ID' value='" + (!website.IsEmpty(filterValue['ID']) ? filterValue['ID'] : '') + "'>",
                FullName: "<input type='text' class='form-control s-fullName' value='" + (!website.IsEmpty(filterValue['FullName']) ? filterValue['FullName'] : '') + "'>",
                GlobalID: "<input type='text' class='form-control s-globalID' value='" + (!website.IsEmpty(filterValue['GlobalID']) ? filterValue['GlobalID'] : '') + "'>",
                CountryCode: "<input type='text' class='form-control s-countryCode' value='" + (!website.IsEmpty(filterValue['CountryCode']) ? filterValue['CountryCode'] : '') + "'>",
                CompanyID: "<input type='text' class='form-control s-companyID' value='" + (!website.IsEmpty(filterValue['CompanyID']) ? filterValue['CompanyID'] : '') + "'>",
                CurrencyID: "<input type='text' class='form-control s-currencyID' value='" + (!website.IsEmpty(filterValue['CurrencyID']) ? filterValue['CurrencyID'] : '') + "'>",
                NetoGroup: "<input type='text' class='form-control s-netoGroup' value='" + (!website.IsEmpty(filterValue['NetoGroup']) ? filterValue['NetoGroup'] : '') + "'>",
                DispatchTime: "<input type='text' class='form-control s-dispatchTime' value='" + (!website.IsEmpty(filterValue['DispatchTime']) ? filterValue['DispatchTime'] : '') + "'>",
                Save: "<button type='button' class='btn btn-default btn-sm' onclick='SaveData()'>SAVE ALL</button>"
            };
        }

        function onDataChange(ID) {
            var index = $table.datagrid("getRowIndex", ID) - 1;

            $table.datagrid('checkRow', index + 1);
            $("button#btn-save:eq(" + index + ")").removeAttr("disabled");
        }

        function SaveData(ID) {
            var dataList = [];

            if (website.IsEmpty(ID)) {
                var rows = $table.datagrid('getSelections');
                for (var i in rows) {
                    index = $table.datagrid('getRowIndex', rows[i].ID) - 1;
                    if (!$("button#btn-save:eq(" + index + ")").is("[disabled]")) {
                        dataList.push(setData(rows[i], index));
                        $("button#btn-save:eq(" + index + ")").attr("disabled", "disabled");
                    }
                }
            } else {
                var index = $table.datagrid("getRowIndex", ID) - 1;
                row = $table.datagrid("getRows")[index + 1];
                dataList.push(setData(row, index));
                $("button#btn-save:eq(" + index + ")").attr("disabled", "disabled");
            }

            if (dataList.length > 0) {
                dataList.forEach(function (data) {
                    $.ajax({
                        url: "@Url.Action("Update")",
                        type: "post",
                        data: data,
                        dataType: "json"
                    });
                });

                alert('Success!');
            };

            $table.datagrid('uncheckAll');
        }

        function setData(row, index) {
            return {
                ID: row.ID,
                FullName: $("input#FullName:eq(" + index + ")").val(),
                GlobalID: $("input#GlobalID:eq(" + index + ")").val(),
                CountryCode: $("input#CountryCode:eq(" + index + ")").val(),
                CompanyID: $("select#CompanyID:eq(" + index + ")").val(),
                CurrencyID: $("select#CurrencyID:eq(" + index + ")").val(),
                NetoGroup: $("select#NetoGroup:eq(" + index + ")").val(),
                DispatchTime: $("input#DispatchTime:eq(" + index + ")").val(),
                Status: row.Status
            }
        }
    </script>
}