@model IEnumerable<Warehouse>
@{
    ViewBag.ptitle = "Dispatch Warehouse";
    var SCIDList = (PurchaseOrderSys.SCService.Warehouse[])ViewBag.SCList;
    var Warehouse3PList = (List<SelectListItem>)ViewBag.Warehouse3PList;
    //var SCList = SCIDList.Select(x => new SelectListItem { Text = x.Name, Value = x.ID.ToString() }).ToList();
    var ShippingList = new PurchaseOrderSys.FedExApi.Shipping_API().ShippingList();
    var SummaryList = new List<string> { "Shippingmethods", "3PWarehouse", "Marketplace", "SCID" };
}

<style>
    .ediv {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 700px;
    }
</style>
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2>@ViewBag.ptitle</h2>
                        <ul class="nav nav-tabs pull-right">
                            <li>
                                <a data-toggle="tab" href="#hb1">@ViewBag.ptitle</a>
                            </li>
                        </ul>
                    </header>

                    <div>
                        <div class="widget-body no-padding">
                            <div id="content" class="tab-content">
                                <div class="tab-pane" id="hb1">
                                    <fieldset>
                                        <legend>Search</legend>
                                        <form id="data-form" class="form-horizontal" method="post" enctype="multipart/form-data">
                                            <div class="form-group">
                                                @Html.Label("Name", htmlAttributes: new { @class = "control-label col-sm-1" })
                                                <div class="col-sm-9 col-lg-2">
                                                    @Html.Editor("Name", new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                                @Html.Label("Type", htmlAttributes: new { @class = "control-label col-sm-1" })
                                                <div class="col-sm-9 col-lg-2">
                                                    @Html.Editor("Type", new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                                @Html.Label("Serial Search", htmlAttributes: new { @class = "control-label col-sm-1" })
                                                <div class="col-sm-9 col-lg-2">
                                                    @Html.Editor("Serial", new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-lg-offset-10">
                                                <button type="submit" id="btn-search" class="btn btn-info btn-lg">Search</button>
                                            </div>
                                        </form>
                                    </fieldset>
                                    <fieldset>
                                        <legend></legend>
                                        <div class="form-group">
                                            <div class="col-sm-9  col-lg-offset-9">
                                                <a type="button" href="@Url.Action("ExcelQTY")" class='btn btn-primary btn-sm' id='btn-Add' target="_blank">下載所有庫存 QTY</a>
                                                <a type="button" href="@Url.Action("ExcelSerial")" class='btn btn-primary btn-sm' id='btn-Add' target="_blank">下載所有庫存中的 Serial</a>
                                                <a type="button" href="@Url.Action("Create")" class='btn btn-danger btn-sm' id='btn-Add'>Add Warehouse</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <article class="col-xs-12">
                                                <table id="DataGrid" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>@Html.DisplayName("ID")</th>
                                                            <th>@Html.DisplayName("Name")</th>
                                                            <th>@Html.DisplayName("Type")</th>
                                                            <th>@Html.DisplayName("IsSellable")</th>
                                                            <th>@Html.DisplayName("DefaultDispatch")</th>
                                                            <th>@Html.DisplayName("DefaultRMA")</th>
                                                            <th>@Html.DisplayName("Summary")</th>
                                                            <th>Edit</th>
                                                            <th>Delete</th>
                                                            @*<th>SKU ITEM</th>*@
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model != null)
                                                        {
                                                            foreach (var item in Model)
                                                            {
                                                                <tr>
                                                                    <td>@item.ID</td>
                                                                    <td>@item.Name</td>
                                                                    <td>@item.Type</td>
                                                                    <td>@item.IsSellable</td>
                                                                    <td>@item.DefaultDispatch</td>
                                                                    <td>@item.DefaultRMA</td>
                                                                    <td>
                                                                        <div>
                                                                            <table class="table table-striped table-bordered">
                                                                                <tbody>
                                                                                    @foreach (var Summaryitem in SummaryList)
                                                                                    {
                                                                                        if (Summaryitem == "Shippingmethods")
                                                                                        {
                                                                                            var textVal = "none";
                                                                                            var WarehouseSummary = item.WarehouseSummary.Where(x => x.IsEnable && x.Type == "Shippingmethods");
                                                                                            if (WarehouseSummary.Any())
                                                                                            {
                                                                                                foreach (var WarehouseSummaryitem in WarehouseSummary)
                                                                                                {

                                                                                                    var Valarr = WarehouseSummaryitem.Val.Split(',');
                                                                                                    if (ShippingList.status)
                                                                                                    {
                                                                                                        var ShippingListName = ShippingList.data.shippingMethod.Where(x => Valarr.Contains(x.value.ToString())).Select(x => x.text);
                                                                                                        textVal = string.Join(",", ShippingListName);
                                                                                                    }

                                                                                                }
                                                                                            }
                                                                                            <tr>
                                                                                                <td>Shipping methods:</td>
                                                                                                <td title=" @textVal">
                                                                                                    <div class="ediv">
                                                                                                        @textVal
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        }
                                                                                        else if (Summaryitem == "3PWarehouse")
                                                                                        {
                                                                                            var textVal = "none";
                                                                                            var WarehouseSummary = item.WarehouseSummary.Where(x => x.IsEnable && x.Type == "3PWarehouse");
                                                                                            if (WarehouseSummary.Any())
                                                                                            {
                                                                                                foreach (var WarehouseSummaryitem in WarehouseSummary)
                                                                                                {

                                                                                                    var Warehouse3Pname = Warehouse3PList.Where(x => WarehouseSummaryitem.Val.Contains(x.Value)).Select(x => x.Text).ToList();
                                                                                                    textVal = string.Join(",", Warehouse3Pname);
                                                                                                }
                                                                                            }
                                                                                            <tr>
                                                                                                <td> 3P Warehouse:</td>
                                                                                                <td title=" @textVal">
                                                                                                    <div class="ediv">
                                                                                                        @textVal
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        }
                                                                                        else if (Summaryitem == "Marketplace")
                                                                                        {
                                                                                            var textVal = "none";
                                                                                            var WarehouseSummary = item.WarehouseSummary.Where(x => x.IsEnable && x.Type == "Marketplace");
                                                                                            if (WarehouseSummary.Any())
                                                                                            {
                                                                                                textVal = string.Join(",", WarehouseSummary.Select(x => x.Val));
                                                                                            }
                                                                                            <tr>
                                                                                                <td> Marketplace:</td>
                                                                                                <td title=" @textVal">
                                                                                                    <div class="ediv">
                                                                                                        @textVal
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        }
                                                                                        else if (Summaryitem == "SCID")
                                                                                        {
                                                                                            var textVal = "none";
                                                                                            var WarehouseSummary = item.WarehouseSummary.Where(x => x.IsEnable && x.Type == "SCID");
                                                                                            if (WarehouseSummary.Any())
                                                                                            {
                                                                                                textVal = WarehouseSummary.FirstOrDefault().Val;
                                                                                            }
                                                                                            <tr>
                                                                                                <td> SC Warehouse ID:</td>
                                                                                                <td title=" @textVal">
                                                                                                    <div class="ediv">
                                                                                                        @textVal
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        }
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <a class='btn btn-default btn-sm' id='Edit' href='@Url.Action("Edit", new { item.ID })'>Edit</a>
                                                                    </td>
                                                                    <td>
                                                                        <a class='btn btn-default btn-sm' id='Delete' href='@Url.Action("Delete", new { item.ID })' onclick="return confirm('是否確定刪除')">Delete</a>
                                                                    </td>
                                                                    @*<td>
                                                                        <a class='btn btn-default btn-sm' id='index' href='@Url.Action("index","WarehouseInventory", new { item.ID })'>SKU</a>
                                                                    </td>*@
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </article>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section pagespecific {
    <script type="text/javascript">
        var hash = window.location.hash;
        $('ul.nav-tabs li').eq(hash.substr(1)).addClass('active');
        $('.tab-pane').eq(hash.substr(1)).addClass('active');

        //$('.datepicker').datepicker({
        //    dateFormat: 'yy-mm-dd'
        //});
        $(document).ready(function () {
            $('#DataGrid').DataTable();
        });
    </script>
@if (!ShippingList.status)
{
    <script type="text/javascript">
        $(document).ready(function () {
            alert("@Html.Raw(ShippingList.message)");
        });
      
    </script>
}
}



