@model SKU
@{
    string LangID = ViewData["LangID"].ToString();
    string DefaultLangID = EnumData.DataLangList().First().Key;
}

<table border="0" cellpadding="8" cellspacing="0" style="border-width: 0px;" width="679">
    <tbody>
        <tr>
            <td align="left" width="187">
                <p style="margin: 3px;"><b><font color="#333333" face="Verdana" style="font-size: 9pt;">Specs:</font></b></p>
            </td>
            <td align="left" width="460">
                <p style="margin: 3px;"><font color="#333333" face="Verdana" style="font-size: 9pt;"><strong>@(Model.SkuLang.First(l => l.LangID.Equals(Model.SkuLang.Any(ll => ll.LangID.Equals(LangID)) ? LangID : DefaultLangID)).Name)</strong></font></p>
            </td>
        </tr>
        @{
            Dictionary<int, int[]> attributeGroup = JsonConvert.DeserializeObject<Dictionary<int, int[]>>(Model.SkuType.AttributeGroup);
            foreach (SkuAttributeType type in (List<SkuAttributeType>)ViewData["AttributeTypeList"])
            {
                if (attributeGroup.ContainsKey(type.ID))
                {
                    <tr>
                        <td align="left" bgcolor="#cccccc" colspan="2">
                            <p style="margin: 3px;"><b><font color="#333333" face="Verdana" style="font-size: 9pt;">@type.Name</font></b></p>
                        </td>
                    </tr>
                    foreach (var attribute in type.SkuAttribute.Where(a => a.IsEnable && attributeGroup[type.ID].Contains(a.ID)))
                    {
                        Sku_Attribute value = Model.Sku_Attribute.FirstOrDefault(s => s.AttrID.Equals(attribute.ID) && s.LangID.Equals(LangID));
                        value = value ?? new Sku_Attribute() { };
                        if (value.Html)
                        {
                            <tr>
                                <td align="left" width="187">
                                    <p style="margin: 3px;"><font color="#333333" face="Verdana" style="font-size: 9pt;">@(attribute.SkuAttributeLang.FirstOrDefault(l => l.LangID.Equals(attribute.SkuAttributeLang.Any(ll => ll.LangID.Equals(LangID)) ? LangID : DefaultLangID))?.Name)</font></p>
                                </td>
                                <td align="left" width="460">
                                    <p style="margin: 3px;">
                                        <font color="#333333" face="Verdana" style="font-size: 9pt;">
                                            @switch (attribute.Property)
                                            {
                                                case 1:
                                                    @Enum.GetName(typeof(EnumData.YesNo), int.Parse(value.Value))
                                                    break;
                                                case 2:
                                                    string[] dimensions = value.Value?.Split('x') ?? new string[] { };
                                                    @(string.Format("{0} mm", string.Join(" x ", dimensions)))
                                                    break;
                                                case 3:
                                                    string[] resolution = value.Value?.Split('x') ?? new string[] { };
                                                    @(string.Format("{0} pixels", string.Join(" x ", resolution)))
                                                    break;
                                                default:
                                                    @(value.Value ?? "")
                                                    break;
                                            }
                                        </font>
                                    </p>
                                </td>
                            </tr>
                        }
                    }
                }
            }
        }
        <tr>
            <td align="left" bgcolor="#cccccc" colspan="2">
                <p style="margin: 3px;"><span style="font-weight: 700;"><font color="#333333" face="Verdana" style="font-size: 9pt;">Disclaimer: Specifications does not reflect the actual package content and are subject to change by the manufacturer without prior notification.</font></span></p>
            </td>
        </tr>
    </tbody>
</table>
