@model Orders
@section styles{
    <style>
        .font-title {
            font-size: 16px !important;
            font-weight: 900 !important;
        }

            .font-title th, .font-bg {
                background-color: #2196f3 !important;
                color: #fff !important;
            }

        #list-package > div + div {
            margin-top: 25px;
        }

        #list-package > div:not(.edit) .text span + input, #list-package > div:not(.edit) .text div + input, #list-package > div:not(.edit) .text span + select, #list-package > div:not(.edit) button.save {
            display: none;
        }

        #list-package > div.edit .text {
            padding: 0px;
        }

            #list-package > div.edit .text span, #list-package > div.edit button.edit {
                display: none;
            }
    </style>
}

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2>編輯</h2>
                        <ul class="nav nav-tabs pull-right">
                            <li><a data-toggle="tab" href="#hb1">訂單資料</a></li>
                        </ul>
                    </header>

                    <div>
                        <div class="widget-body no-padding">
                            <form id="data-form" class="form-horizontal" method="post" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()

                                <div id="content" class="tab-content">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="tab-pane" id="hb1">
                                        <fieldset>
                                            <legend>訂單資料</legend>

                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    <div class="form-group">
                                                        <div class="col-sm-4 col-lg-3 col-lg-offset-1">
                                                            <table class="table table-bordered text-center">
                                                                <thead>
                                                                    <tr class="font-title">
                                                                        <th class="text-center" colspan="2">Order</th>
                                                                    </tr>
                                                                </thead>
                                                                <tr class="font-title">
                                                                    <td width="130">Order #：</td>
                                                                    <td>@Model.ID</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Order Type：</td>
                                                                    <td>@EnumData.OrderTypeList()[Model.OrderType]</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Company：</td>
                                                                    <td>@Model.GetCompany.Name)</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Channel：</td>
                                                                    <td>@EnumData.OrderChannelList()[Model.Channel]</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Source Order #：</td>
                                                                    <td>@Model.OrderSourceID</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Rush Order：</td>
                                                                    <td class="no-padding">@Html.DropDownListFor(Model => Model.IsRush, Enum.GetValues(typeof(EnumData.YesNo)).Cast<EnumData.YesNo>().Select(s => new SelectListItem() { Text = s.ToString(), Value = (byte)s == 1 ? bool.TrueString : bool.FalseString }), htmlAttributes: new { @class = "form-control" })</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>SC Order #：</td>
                                                                    <td>@Model.SCID</td>
                                                                </tr>
                                                            </table>
                                                        </div>

                                                        <div class="col-sm-4 col-lg-3 col-lg-offset-1">
                                                            <table class="table table-bordered text-center">
                                                                <thead>
                                                                    <tr class="font-title">
                                                                        <th class="text-center" colspan="2">Sold To</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td colspan="2" rowspan="8" class="no-padding">
                                                                            @{
                                                                                var SoldAddress = Model.Addresses.FirstOrDefault(a => a.Type.Equals((byte)EnumData.OrderAddressType.Sold));
                                                                                var SoldArray = new string[] { SoldAddress?.AddressLine1, SoldAddress?.AddressLine2, SoldAddress?.City, SoldAddress?.State, SoldAddress?.Postcode, SoldAddress?.CountryName };
                                                                                var SoldTo = new string[] { string.Format("{0}, {1}", SoldAddress?.FirstName, SoldAddress?.LastName), string.Join("\r\n", SoldArray.Except(new string[] { "", null })) };
                                                                            }
                                                                            <textarea class="form-control" style="font-size:20px;" rows="8" readonly>@string.Join("\r\n", SoldTo)</textarea>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                        <div class="col-sm-4 col-lg-3">
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr class="font-title">
                                                                        <th class="text-center" colspan="2">
                                                                            Ship To
                                                                            <div style="position: absolute;top: 2px;right: 16px;">
                                                                                <button type="button" class="btn btn-default" onclick="$(this).parent('div').hide().siblings('div').show(); $('#address-ship').show().siblings('tbody').hide();">Edit</button>
                                                                            </div>
                                                                            <div style="position: absolute;top: 2px;right: 16px;display: none;">
                                                                                <button type="button" class="btn btn-default" onclick="$('#address-ship').find('input').each(function (i, input) { $(input).val($(input).data('reset'));});">Reset</button>
                                                                                <button type="button" class="btn btn-default" onclick="$(this).parent('div').hide().siblings('div').show(); $('#address-ship').hide().siblings('tbody').show();">Save</button>
                                                                            </div>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td colspan="2" rowspan="8" class="no-padding">
                                                                            @{
                                                                                var ShipAddress = Model.Addresses.FirstOrDefault(a => a.Type.Equals((byte)EnumData.OrderAddressType.Shipped));
                                                                                var ShipsArray = new string[] { ShipAddress?.AddressLine1, ShipAddress?.AddressLine2, ShipAddress?.City, ShipAddress?.State, ShipAddress?.Postcode, ShipAddress?.CountryName };
                                                                                var ShipTo = new string[] { string.Format("{0}, {1}", ShipAddress?.FirstName, ShipAddress?.LastName), string.Join("\r\n", ShipsArray.Except(new string[] { "", null })) };
                                                                            }
                                                                            <textarea class="form-control" style="font-size:20px;" rows="8" readonly>@string.Join("\r\n", ShipTo)</textarea>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                                <tbody id="address-ship" style="display:none;">
                                                                    <tr>
                                                                        <td width="123">First Name：</td>
                                                                        <td class="no-padding">
                                                                            <input type="text" class="form-control" name="FirstName" value="@(ShipAddress?.FirstName)" data-reset="@(ShipAddress?.FirstName)" />
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Last Name：</td>
                                                                        <td class="no-padding">
                                                                            <input type="text" class="form-control" name="LastName" value="@(ShipAddress?.LastName)" data-reset="@(ShipAddress?.LastName)" />
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Address Line 1：</td>
                                                                        <td class="no-padding">
                                                                            <input type="text" class="form-control" name="AddressLine1" value="@(ShipAddress?.AddressLine1)" data-reset="@(ShipAddress?.AddressLine1)" />
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Address Line 2：</td>
                                                                        <td class="no-padding">
                                                                            <input type="text" class="form-control" name="AddressLine2" value="@(ShipAddress?.AddressLine2)" data-reset="@(ShipAddress?.AddressLine2)" />
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>City：</td>
                                                                        <td class="no-padding">
                                                                            <input type="text" class="form-control" name="City" value="@(ShipAddress?.City)" data-reset="@(ShipAddress?.City)" />
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>State：</td>
                                                                        <td class="no-padding">
                                                                            <input type="text" class="form-control" name="State" value="@(ShipAddress?.State)" data-reset="@(ShipAddress?.State)" />
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Postcode：</td>
                                                                        <td class="no-padding">
                                                                            <input type="text" class="form-control" name="Postcode" value="@(ShipAddress?.Postcode)" data-reset="@(ShipAddress?.Postcode)" />
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Country：</td>
                                                                        <td class="no-padding">
                                                                            @Html.DropDownList("CountryCode", EnumData.CountryList().Select(c => new SelectListItem() { Text = c.Value, Value = c.Key, Selected = c.Key.Equals(ShipAddress?.CountryCode.ToUpper()) }).ToList(), htmlAttributes: new { @class = "form-control" })
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-sm-8 col-lg-4 col-lg-offset-1">
                                                            <table class="table table-bordered">
                                                                <tr>
                                                                    <td width="164">Customer User ID：</td>
                                                                    <td>@Model.CustomerID</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Customer User Email:：</td>
                                                                    <td>@Model.CustomerEmail</td>
                                                                </tr>
                                                            </table>
                                                        </div>

                                                        <div class="col-sm-4 col-lg-offset-1">
                                                            <div class="input-group input-group-lg">
                                                                <span class="input-group-addon font-bg">Shipping Actions</span>
                                                                <select class="form-control">
                                                                    <optgroup label="Normal">
                                                                        <option value="1">Split package</option>
                                                                        <option value="2">Split carrier box</option>
                                                                        <option value="3">Combine</option>
                                                                    </optgroup>
                                                                    <option value="4">Cancel Dispatch</option>
                                                                    <optgroup label="Shipped">
                                                                        <option value="5">Create RMA</option>
                                                                        <option value="6">Create Replacement</option>
                                                                    </optgroup>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" id="list-package">
                                                        @{
                                                            var ViewData = new ViewDataDictionary() { { "MethodList", ViewBag.MethodList }, { "WarehouseList", ViewBag.WarehouseList }, { "CurrencyList", ViewBag.CurrencyList } };

                                                            foreach (var package in Model.Packages.Where(p => p.IsEnable))
                                                            {
                                                                Html.RenderPartial("_PackageDetail", package, ViewData);
                                                            }
                                                        }
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-sm-4">
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr class="font-title">
                                                                        <th>Buyer Note</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="no-padding">
                                                                            <textarea class="form-control" style="font-size:20px;" rows="8" readonly>@Model.BuyerNote</textarea>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr class="font-title">
                                                                        <th>Comment</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="no-padding">
                                                                            <textarea class="form-control" style="font-size:20px;" rows="8" readonly>@Model.Comment</textarea>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                                <tfoot>
                                                                    <tr>
                                                                        <td class="no-padding">
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" />
                                                                                <div class="input-group-btn">
                                                                                    <button type="button" class="btn btn-default">Add</button>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-2">
                                                    <table class="table table-bordered">
                                                        <tr>
                                                            <td width="120">Order Date：</td>
                                                            <td>@Model.OrderDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Payment Date：</td>
                                                            <td>@(Model.PaymentDate?.ToString("dd/MM/yyyy HH:mm:ss") ?? "")</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Fulfilled Date：</td>
                                                            <td>@(Model.FulfilledDate?.ToString("dd/MM/yyyy HH:mm:ss") ?? "")</td>
                                                        </tr>
                                                    </table>

                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr class="font-title">
                                                                <th class="text-center" colspan="2">Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tr>
                                                            <td width="120">Order：</td>
                                                            <td class="no-padding">@Html.DropDownListFor(Model => Model.OrderStatus, EnumData.OrderStatusList().Select(s => new SelectListItem() { Text = s.Value, Value = s.Key.ToString() }), htmlAttributes: new { @class = "form-control" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Payment：</td>
                                                            <td>@EnumData.OrderPaymentStatusList()[Model.PaymentStatus]</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Fulfilled：</td>
                                                            <td>@Enum.GetName(typeof(EnumData.OrderFulfilledStatus), Model.FulfillmentStatus)</td>
                                                        </tr>
                                                    </table>
                                                    @{
                                                        var payment = Model.Payments.FirstOrDefault(p => p.IsEnable);
                                                    }
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr class="font-title">
                                                                <th class="text-center" colspan="2">Payment</th>
                                                            </tr>
                                                        </thead>
                                                        <tr>
                                                            <td width="134">Status：</td>
                                                            <td>@EnumData.OrderPaymentStatusList()[payment?.Status ?? Model.PaymentStatus]</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Date：</td>
                                                            <td>@(payment?.Date?.ToString("dd/MM/yyyy HH:mm:ss") ?? "")</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Gateway：</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total Value：</td>
                                                            <td>@(payment?.TotalValue)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Shipping：</td>
                                                            <td>@(payment?.ShippingCharge)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Insurance：</td>
                                                            <td>@(payment?.InsuranceCharge)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Grand Total：</td>
                                                            <td>@(payment?.GrandTotal)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Payment Total：</td>
                                                            <td>@(payment?.PaymentTotal)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Refund：</td>
                                                            <td>@(payment?.Refund)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Balance：</td>
                                                            <td>@(payment?.Balance)</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">Other Payment Details</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Transaction ID #：</td>
                                                            <td>@(payment?.TransactionID)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Payment Email：</td>
                                                            <td>@(payment?.PaymentEmail)</td>
                                                        </tr>
                                                    </table>

                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr class="font-title">
                                                                <th>Logs</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="no-padding">
                                                                    @{
                                                                        var ActionLogs = Model.ActionLogs.OrderBy(l => l.CreateAt)
                                                                            .Select(l => string.Format("{0}：{1}\r\n{2}\r\n{3}", l.Item, l.Description, l.CreateBy, l.CreateAt.ToString("dd/MM/yyyy HH:mm:ss"))).ToList();
                                                                    }
                                                                    <textarea class="form-control" rows="20" readonly>@(ActionLogs.Any() ? string.Join("\r\n┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄\r\n", ActionLogs) : "")</textarea>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="widget-footer">
                                    <button type="submit" class="btn btn-primary" id="save">儲存</button>
                                    @*<button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "SkuType")'">返回</button>*@
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section pagespecific {
    <script type="text/javascript">
        var hash = window.location.hash;
        $('ul.nav-tabs li').eq(hash.substr(1)).addClass('active');
        $('.tab-pane').eq(hash.substr(1)).addClass('active');

        var $packageList = $('#list-package');

        $(document).ready(function () {
            $('[rel="popover"]').popover();
        });

        var PackageEdit = function (ID) {
            $packageList.children("div").each(function () {
                if ($(this).data('package') == ID) {
                    return $(this).addClass('edit');
                }
            });
        };

        var PackageSave = function (ID) {
            $packageList.children("div").each(function () {
                if ($(this).data('package') == ID) {
                    var package = $(this);
                    var data = $(this).find('input, select').serializeArray();

                    website.AjaxUrl('../PackageSave', 'post', data).done(function (response) {
                        if (response.status) {
                            alert('Update success!');

                            return package.after(response.data).remove();
                        } else {
                            return alert(response.message);
                        }
                    });

                } else {
                    alert("Not found!");
                }
            });
        };
    </script>
}   