@*@using StackExchange.Profiling*@
@{
    var Create = "";
    if (ViewBag.Create != null && ViewBag.Create)
    {
        Create = "T";
    }
}
<!DOCTYPE html>
<html lang="en-us" id="@ViewBag.PageId">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>PO</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Basic Styles -->
    @Styles.Render("~/content/smartadmin")
    <!-- FAVICONS -->
    <link rel="shortcut icon" href="~content/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~content/img/favicon/favicon.ico" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="~content/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~content/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~content/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~content/img/splash/touch-icon-ipad-retina.png">
    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="~content/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="~content/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="~content/img/splash/iphone.png" media="screen and (max-device-width: 320px)">
    @RenderSection("styles", false)
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <style>
        table.dataTable.select tbody tr,
        table.dataTable thead th:first-child {
            cursor: pointer;
        }
        .datagrid-btable .filterColumn:first-child td div {
            padding: 0
        }
    </style>
</head>
@if (Session["IsLogin"] != null && (bool)Session["IsLogin"])
{
    Html.RenderPartial("_Aside", (bool)Session["IsLogin"]);
}

<body class="desktop-detected menu-on-top">
    @if (Session["IsLogin"] != null && (bool)Session["IsLogin"])
    {
        Html.RenderPartial("_Header", RenderSection("topright", false));
        //Html.RenderPartialIf("_Ribbon", (bool)Session["IsLogin"]);

    }
    <div id="main" role="main">
        @RenderBody()
    </div>
    @if (Session["IsLogin"] != null && (bool)Session["IsLogin"])
    {
        Html.RenderPartial("_Footer");
    }
    @{ Html.RenderPartial("_Scripts", RenderSection("pagespecific", false)); }

    <!-- PAGE RELATED PLUGIN(S) -->
    @RenderSection("scripts", required: false)
    @*@MiniProfiler.RenderIncludes()*@
    <script type="text/javascript">
        var thousandComma = function (number) {
            if (number != null) {
                if (!isNaN(number)) {
                    var num = number.toFixed(2).toString();
                    var pattern = /(-?\d+)(\d{3})/;
                    while (pattern.test(num)) {
                        num = num.replace(pattern, "$1,$2");
                    }
                    return num;
                } else {
                    return number;
                }
               
            }
            else {
                return "";
            }
        }
        var oTable;
        $(document).ready(function () {
            $("form").validate(); 
            $("form").makeValidationInline();
            $("button[type='submit']").click(function () {
                $(this).prop("disabled", "disabled");
                $("form").submit();
            });
            $("body").on("change", "input,select", function () {
                $("button[type='submit']").prop("disabled", false);
            });
            $("body").on("click", "input[type='checkbox']", function () {
                var thead = $(this).closest("thead");
                if (thead.length > 0) {
                    var table = $(this).closest("table");
                    if (table.length > 0) {
                        var tbody = table.find("tbody")
                        if (tbody.length > 0) {
                            var checked = $(this).is(':checked');
                            var checkboxlist = tbody.find("input[type='checkbox']");
                            checkboxlist.each(function () {
                                $(this).prop("checked", checked);
                            });
                        }
                    }
                }
            });
            @*oTable = $('#dt_basic').dataTable({
                "columnDefs": [{ "orderable": false, "targets": "nosort" }],
                "order": [],
                "bJQueryUI": true,
                "sDom": "<'dt-toolbar'<'col-sm-7 hidden-xs' f<'group-select input-group'>><'col-xs-12 col-sm-5'@(Create)l>>" + "t" + "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "oTableTools": {
                    "aButtons": [{
                        "sExtends": "text",
                        "sButtonText": '<i class="fa fa-plus"></i> <span class="hidden-mobile">Create</span>',
                        "sButtonClass": "btn-lg",
                        "fnInit": function (nButton, oConfig) {
                            $(nButton).css('margin-left', 5).attr('href', '@Url.Action("Create")');
                        }
                    }]
                }
            });*@
            $("body").on("click", "#saveexit", function (){
                $("form").prepend('<input type="hidden" name="saveexit" value="true" />');
                $(this).prop("disabled", "disabled");
                $("form").submit();
            });
            $('#dt_basic tbody td img.detaildables').click(function () {
                var nTr = this.parentNode.parentNode;
                if (oTable.fnIsOpen(nTr)) {//判斷是否打開
                    this.src = "/Content/img/plus.png";
                    oTable.fnClose(nTr);
                }
                else {
                    this.src = "/Content/img/minus.png";
                    var rel = $(this).attr("rel");
                    $.get(rel, function (MenuList) {
                        oTable.fnOpen(nTr, MenuList, 'Tabledetails');
                    });
                }
            });
            @if(TempData["ErrMsg"] != null && TempData["ErrMsg"].ToString() != "")
            {
                @:alert("@TempData["ErrMsg"]");
            }
        });
    </script>
</body>
</html>