@model PurchaseOrder
@{
    Layout = null;
    var PurchaseSKUlist = Model.PurchaseSKU.Where(x => x.IsEnable);
    var Price = PurchaseSKUlist.Sum(x => (x.Price * x.QTYOrdered) ?? 0);
    var Discount = PurchaseSKUlist.Sum(x => (x.Price - x.Discount - x.Credit) ?? 0);
    var Credit = PurchaseSKUlist.Sum(x => x.Credit ?? 0);
}

<div>
    Hello
    <br />
    <span>以下是本公司今日採購的內容. 請填入:</span>
    <br />
    出貨價：@Price.ToString("N2")
    <br />
    現折金額：@Discount.ToString("N2")
    <br />
    後折金額：@Credit.ToString("N2")
    <br />
    <table style="border:3px #cccccc solid;" cellpadding="10" border='1'>
        <thead>
            <tr>
                <th>SKU</th>
                <th>Vendor SKU</th>
                <th>Name</th>
                <th>QTY Ordered</th>
                <th>QTY Received</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Credit</th>
                <th>Discounted Price</th>
                <th>Subtotal (currency)</th>
            </tr>
        </thead>
        <tbody>
            @if (PurchaseSKUlist.Any())
            {
                foreach (var item in PurchaseSKUlist)
                {
                    var DiscountedPrice = (item.Price - item.Discount - item.Credit) ?? 0;
                    var Subtotal = item.QTYOrdered * (item.Price - item.Discount) ?? 0;
                    <tr>
                        <td>@item.SkuNo</td>
                        <td>@item.VendorSKU</td>
                        <td>@item.Name</td>
                        <td>@item.QTYOrdered</td>
                        <td>@item.QTYReceived</td>
                        <td>@item.Price.Value.ToString("N2")</td>
                        <td>@item.Discount</td>
                        <td>@item.Credit</td>
                        <td>@(DiscountedPrice.ToString("N2"))</td>
                        <td>@(Subtotal.ToString("N2"))</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br />
    謝謝
    <br />
    @Model.Company.Name Purchasing Team
</div>

