@model SkuType
@section styles{
    <style>
        .middle {
            vertical-align: middle !important;
        }
    </style>
}
@{
    var LangID = (string)ViewBag.LangID;
    string DefaultLangID = EnumData.DataLangList().First().Key;
    var AttributeTypeList = (List<SkuAttributeType>)ViewBag.AttributeTypeList;
}

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2>編輯</h2>
                        <ul class="nav nav-tabs pull-right">
                            <li><a data-toggle="tab" href="#hb1">基本資料</a></li>
                            <li><a data-toggle="tab" href="#hb2">屬性組合</a></li>
                        </ul>
                    </header>

                    <div>
                        <div class="widget-body no-padding">
                            <form id="data-form" class="form-horizontal" method="post" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()

                                <div id="content" class="tab-content">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="tab-pane" id="hb1">
                                        <fieldset>
                                            <legend>基本資料</legend>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.SkuTypeLang.First().LangID, htmlAttributes: new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-9 col-lg-2">
                                                    @Html.DropDownList("LangID", (IEnumerable<SelectListItem>)ViewBag.LangList, htmlAttributes: new { @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.SkuTypeLang.First().Name, htmlAttributes: new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-9 col-lg-3">
                                                    @Html.EditorFor(model => model.SkuTypeLang.First(l => l.LangID.Equals(LangID)).Name, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.SkuTypeLang.First().Name, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.HSCode, htmlAttributes: new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-9 col-lg-3">
                                                    @Html.EditorFor(model => model.HSCode, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.HSCode, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NetoID, htmlAttributes: new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-9 col-lg-3">
                                                    @Html.EditorFor(model => model.NetoID, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.NetoID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.SCID, htmlAttributes: new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-9 col-lg-3">
                                                    @Html.EditorFor(model => model.SCID, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.SCID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <legend>Package Content</legend>

                                            <div class="col-sm-6 col-lg-3">
                                                <div class="table-responsive col-sm-12">
                                                    <table class="table table-bordered table-striped text-center">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center">Content</th>
                                                                <th width="50"><button type="button" class="btn btn-default btn-sm" onclick="ContentAdd(null, 0, '');">＋</button></th>
                                                            </tr>
                                                        </thead>

                                                        <tbody id="list-content"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>

                                    <div class="tab-pane" id="hb2">
                                        <fieldset>
                                            <legend>屬性組合</legend>

                                            <div class="form-group">
                                                <div class="col-sm-3 col-sm-offset-4">
                                                    <div class="input-group">
                                                        @Html.DropDownList("Type", AttributeTypeList.Select(t => new SelectListItem() { Text = t.Name, Value = t.ID.ToString() }), htmlAttributes: new { @class = "form-control", @id = "select-type" })
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default" onclick="TypeJoin();">加入</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 col-sm-offset-1">
                                                    <div class="input-group">
                                                        @Html.TextBox("Type", "", new { @class = "form-control", @id = "input-type" })
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default" onclick="TypeAdd();">新增</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            @Html.Hidden("AttributeGroup[0][]")
                                            @{
                                                Dictionary<int, int[]> group = !string.IsNullOrEmpty(Model.AttributeGroup) ? JsonConvert.DeserializeObject<Dictionary<int, int[]>>(Model.AttributeGroup) : new Dictionary<int, int[]>();
                                                var viewData = new ViewDataDictionary() { { "LangID", LangID }, { "type", null }, { "group", null }, { "typeID", 0 } };
                                            }
                                            <div class="form-group">
                                                <div class="col-sm-8 col-sm-offset-3">
                                                    <div class="dd" id="list-attr" style="max-width:100%;">
                                                        <ol class="dd-list">
                                                            @foreach (var typeID in group.Keys.Except(new int[] { 0 }))
                                                            {
                                                                viewData["typeID"] = typeID;
                                                                viewData["type"] = AttributeTypeList.First(t => t.ID.Equals(typeID));
                                                                viewData["group"] = group[typeID];
                                                                Html.RenderPartial("_AttributeGroup", viewData);
                                                            }
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="widget-footer">
                                    <button type="submit" class="btn btn-primary" id="save">儲存</button>
                                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "SkuType")'">返回</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section pagespecific {
    <script src="~/scripts/plugin/jquery-nestable/jquery.nestable.min.js"></script>
    <script type="text/javascript">
        var hash = window.location.hash;
        $('ul.nav-tabs li').eq(hash.substr(1)).addClass('active');
        $('.tab-pane').eq(hash.substr(1)).addClass('active');

        var contentIndex;
        var $contentList = $('#list-content');

        $(document).ready(function () {
            $('#list-attr').nestable();

            $('#LangID').change(function () {
                website.AjaxUrl('@Url.Action("GetLangData", "SkuType", new { ID = Model.ID })', 'get', { LangID: $(this).val() }).done(function (response) {
                    if (response.status) {
                        var contentIndex = 0;
                        $('#Name').val(response.data.Name);
                        $contentList.html('');
                        $.each(response.data.PackageContent, function (ID, val) {
                            ContentAdd(contentIndex++, ID, val);
                        });
                    } else {
                        alert(response.message);
                    }
                });
            }).trigger('change');
        });

        function ContentAdd(i, ID, value) {
            if (i == null) {
                if ($('#LangID').val() != '@EnumData.DataLangList().First().Key') return;
                i = $contentList.find('tr').length;
            }
            var $newContent = $("<tr rel='" + ID + "'>").append("<input type='hidden' name='PackageContent[" + i + "][ItemID]' value='" + ID + "'>");
            $newContent.append($("<td class='no-padding middle'>").append("<input type='text' class='form-control' name='PackageContent[" + (i++) + "][Name]' value='" + value + "'>"));
            $newContent.append($("<td>").append("<button type='button' class='btn btn-default btn-sm' onclick='ContentDel($(this));'>－</button>"));
            $contentList.append($newContent);
        }

        function ContentDel($btn) {
            if ($('#LangID').val() == '@EnumData.DataLangList().First().Key') {
                $item = $btn.parents('tr:eq(0)');

                if (!website.IsEmpty($item.attr('rel'))) {
                    website.AjaxUrl('@Url.Action("RemovePackageContent", "SkuType")', 'post', { ID: $item.attr('rel') });
                }

                $item.remove();

                contentIndex = 0
                $contentList.find('tr').each(function () {
                    ContentAdd(contentIndex++, $(this).find(':hidden').val(), $(this).find(':text').val());
                    $(this).remove();
                });
            }
        }

        var TypeJoin = function () {
            var typeID = $('#select-type').val();
            $('#list-attr > ol > li').each(function () {
                if (typeID == $(this).data('id')) return alert('已有相同的組合!');
            });

            website.AjaxUrl('@Url.Action("JoinType", "SkuType", new { LangID = LangID })', 'post', { typeID: typeID }).done(function (response) {
                if (response.status) {
                    $('#list-attr > ol').append(response.data);
                } else {
                    alert(response.message);
                }
            });
        };

        var TypeAdd = function () {
            var newType = $('#input-type').val();

            if (website.IsEmpty(newType)) return alert('此處必填，不能空白!');

            if (confirm('確定要新增?')) {
                website.AjaxUrl('@Url.Action("AddType", "SkuType", new { LangID = LangID })', 'post', { newType: newType }).done(function (response) {
                    if (response.status) {
                        $('#list-attr ol').append(response.data);
                    } else {
                        alert(response.message);
                    }
                });
            }
        };

        var TypeDel = function (type) {
            if (confirm('確定要刪除?')) {
                $(type).parents('li:first').remove();
            }
        };

        var AttrJoin = function (typeID) {
            var $type = $('#list-attr > ol > li[data-id=' + typeID + ']');
            var attrID = $type.find('select[rel=' + typeID + ']:first').val();
            $type.find('ol > li').each(function () {
                if (attrID == $(this).data('id')) return alert('已有相同的屬性!');
            });

            website.AjaxUrl('@Url.Action("JoinAttribute", "SkuType", new { LangID = LangID })', 'post', { attrID: attrID }).done(function (response) {
                if (response.status) {
                    $type.children('ol').append(response.data);
                } else {
                    alert(response.message);
                }
            });
        };

        var AttrAdd = function (typeID) {
            var $type = $('#list-attr > ol > li[data-id=' + typeID + ']');
            var newAttr = $type.find('input[rel=' + typeID + ']:first').val();

            if (website.IsEmpty(newAttr)) return alert('此處必填，不能空白!');

            if (confirm('確定要新增?')) {
                website.AjaxUrl('@Url.Action("AddAttribute", "SkuType", new { LangID = LangID })', 'post', { typeID: typeID, newAttr: newAttr }).done(function (response) {
                    if (response.status) {
                        $type.children('ol').append(response.data);
                    } else {
                        alert(response.message);
                    }
                });
            }
        };

        var AttrDel = function (attr) {
            if (confirm('確定要刪除?')) {
                $(attr).parents('li:first').remove();
            }
        };
    </script>
}   