@model Company
@section styles{
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <style>
        .datagrid-btable .filterColumn:first-child td div {
            padding: 0
        }
    </style>
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <div class="table-parent tool-content col-xs-12">
                <div class="action-button col-xs-2 col-xs-offset-10">
                    <a class="btn btn-default" href="@Url.Action("Create", "Company")">新增</a>
                </div>
            </div>
        </div>

        <div class="row">
            <article class="col-xs-12">
                <table id="DataGrid"></table>
            </article>
        </div>
    </section>
</div>
@section pagespecific {
    <script src="~/scripts/jquery.easyui-1.4.3.min.js"></script>
    <script src="~/scripts/datagrid-detailview.js"></script>
    <script src="~/scripts/jquery.number.min.js"></script>
    <script type="text/javascript">
        var pager, pageSize = 100, selectOption;
        var $table = $("#DataGrid"), datagrid;

        $(function () {
            var data = { optionType: ['CompanyOption', 'Currency'] };

            website.AjaxUrl("@Url.Action("GetSelectOption", "Ajax")", 'post', data).done(function (response) {
                if (response.status) {
                    selectOption = response.data;

                    dataInit();
                } else {
                    alert(response.message);
                }
            });
        });

        function dataInit() {
            datagrid = new Datagrid("公司 列表", "ID", "@Url.Action("GetData")");

            datagrid.dataInit.frozenColumns = [[
                { field: "ck", checkbox: true },
                { field: "ID", title: "@Html.DisplayNameFor(model => model.ID)", width: 100, align: "center", sortable: false }
            ]];

            datagrid.dataInit.columns = [[
                {
                    field: "Name", title: "@Html.DisplayNameFor(model => model.Name)", width: 180, align: "center", sortable: false,
                    formatter: function (value, row, index) {
                        return website.IsEmpty(row.IsFilter) ? datagrid.setInputText(row.ID, this.field, value) : value;
                    }
                }, {
                    field: "ShadowSuffix", title: "@Html.DisplayNameFor(model => model.ShadowSuffix)", width: 100, align: "center", sortable: false,
                    formatter: function (value, row, index) {
                        return website.IsEmpty(row.IsFilter) ? datagrid.setInputText(row.ID, this.field, value) : value;
                    }
                }, {
                    field: "ParentID", title: "@Html.DisplayNameFor(model => model.ParentID)", width: 180, align: "center", sortable: false,
                    formatter: function (value, row, index) {
                        //return value;
                        return website.IsEmpty(row.IsFilter) ? datagrid.setDropdown(row.ID, this.field, selectOption['CompanyOption'], value) : value;
                    }
                }, {
                    field: "RelateID", title: "@Html.DisplayNameFor(model => model.RelateID)", width: 180, align: "center", sortable: false,
                    formatter: function (value, row, index) {
                        return website.IsEmpty(row.IsFilter) ? datagrid.setDropdown(row.ID, this.field, selectOption['CompanyOption'], value) : value;
                    }
                }, {
                    field: "CurrencyID", title: "@Html.DisplayNameFor(model => model.CurrencyID)", width: 180, align: "center", sortable: false,
                    formatter: function (value, row, index) {
                        return website.IsEmpty(row.IsFilter) ? datagrid.setDropdown(row.ID, this.field, selectOption['Currency'], value.toString()) : value;
                    }
                }, {
                    field: "eBayAccountID", title: "@Html.DisplayNameFor(model => model.eBayAccountID)", width: 250, align: "center", sortable: false,
                    formatter: function (value, row, index) {
                        return website.IsEmpty(row.IsFilter) ? datagrid.setInputText(row.ID, this.field, value) : value;
                    }
                }, {
                    field: "AmazonAccountID", title: "@Html.DisplayNameFor(model => model.AmazonAccountID)", width: 250, align: "center", sortable: false,
                    formatter: function (value, row, index) {
                        return website.IsEmpty(row.IsFilter) ? datagrid.setInputText(row.ID, this.field, value) : value;
                    }
                }, {
                    field: "CompanySCID", title: "SCID", width: 250, align: "center", sortable: false,
                    formatter: function (value, row, index) {
                        return website.IsEmpty(row.IsFilter) ? datagrid.setInputText(row.ID, this.field, value) : value;
                    }
                }, {
                    field: "Action", title: "Action", width: 80, align: "center", sortable: false,
                    formatter: function (value, row, index) {
                        if (website.IsEmpty(row.IsFilter)) {
                            return "<button type='button' class='btn btn-default btn-sm' id='btn-save' onclick='SaveData(" + row.ID + ")' disabled>SAVE</button>";
                        } else {
                            return value;
                        }
                    }
                }
            ]];

            $table.datagrid(datagrid.dataInit);

            pager = $table.datagrid("getPager");
            $(pager).pagination({
                pageSize: pageSize,
                showPageList: true,
                pageList: [100, 200, 300, 500],
                beforePageTest: "第",
                afterPageTest: "頁，共 {pages} 頁",
                displayMsg: "顯示 {from} 到 {to} 筆資料，共 {total} 筆資料"
            });
        }

        function getFilterData() {
            return {
                ID: $('.filterColumn .s-ID').val(),
                Name: $('.filterColumn .s-name').val(),
                ShadowSuffix: $('.filterColumn .s-ShadowSuffix').val(),
                ParentID: $('.filterColumn .s-parentID').val(),
                RelateID: $('.filterColumn .s-relateID').val(),
                CurrencyID: $('.filterColumn .s-currencyID').val(),
                eBayAccountID: $('.filterColumn .s-eBayAccountID').val(),
                AmazonAccountID: $('.filterColumn .s-amazonAccountID').val()
            };
        }

        function setFilterColumn(filterValue) {
            var CompanyOption = selectOption['CompanyOption'].filter(function (value, i) { return i != 0; });

            return {
                IsFilter: true,
                ID: "<input type='text' class='form-control s-ID' value='" + (!website.IsEmpty(filterValue['ID']) ? filterValue['ID'] : '') + "'>",
                Name: "<input type='text' class='form-control s-name' value='" + (!website.IsEmpty(filterValue['Name']) ? filterValue['Name'] : '') + "'>",
                ShadowSuffix: "<input type='text' class='form-control s-ShadowSuffix' value='" + (!website.IsEmpty(filterValue['ShadowSuffix']) ? filterValue['ShadowSuffix'] : '') + "'>",
                ParentID: "<select class='form-control s-parentID'><option value=''>全部</option>" + datagrid.setSelectOption(CompanyOption, filterValue['ParentID']) + "</select>",
                RelateID: "<select class='form-control s-relateID'><option value=''>全部</option>" + datagrid.setSelectOption(CompanyOption, filterValue['RelateID']) + "</select>",
                CurrencyID: "<select class='form-control s-currencyID'><option value=''>全部</option>" + datagrid.setSelectOption(selectOption['Currency'], filterValue['CurrencyID']) + "</select>",
                eBayAccountID: "<input type='text' class='form-control s-eBayAccountID' value='" + (!website.IsEmpty(filterValue['eBayAccountID']) ? filterValue['eBayAccountID'] : '') + "'>",
                AmazonAccountID: "<input type='text' class='form-control s-amazonAccountID' value='" + (!website.IsEmpty(filterValue['AmazonAccountID']) ? filterValue['AmazonAccountID'] : '') + "'>",
                Action: "<button type='button' class='btn btn-default btn-sm' onclick='SaveData()'>SAVE ALL</button>"
            };
        }

        function onDataChange(ID) {
            var index = $table.datagrid("getRowIndex", ID) - 1;

            $table.datagrid('checkRow', index + 1);
            $("button#btn-save:eq(" + index + ")").removeAttr("disabled");
        }

        function SaveData(ID) {
            var dataList = [];

            if (website.IsEmpty(ID)) {
                var rows = $table.datagrid('getSelections');
                for (var i in rows) {
                    index = $table.datagrid('getRowIndex', rows[i].ID) - 1;
                    if (!$("button#btn-save:eq(" + index + ")").is("[disabled]")) {
                        dataList.push(setData(rows[i], index));
                        $("button#btn-save:eq(" + index + ")").attr("disabled", "disabled");
                    }
                }
            } else {
                var index = $table.datagrid("getRowIndex", ID) - 1;
                row = $table.datagrid("getRows")[index + 1];
                dataList.push(setData(row, index));
                $("button#btn-save:eq(" + index + ")").attr("disabled", "disabled");
            }

            if (dataList.length > 0) {
                dataList.forEach(function (data) {
                    $.ajax({
                        url: "@Url.Action("Update")",
                        type: "post",
                        data: data,
                        dataType: "json",
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.responseText);
                        }
                    });
                });

                alert('Success!');
            };

            $table.datagrid('uncheckAll');
        }

        function setData(row, index) {
            return {
                ID: row.ID,
                Name: $("input#Name:eq(" + index + ")").val(),
                ShadowSuffix: $("input#ShadowSuffix:eq(" + index + ")").val(),
                ParentID: $("select#ParentID:eq(" + index + ")").val(),
                RelateID: $("select#RelateID:eq(" + index + ")").val(),
                CurrencyID: $("select#CurrencyID:eq(" + index + ")").val(),
                eBayAccountID: $("input#eBayAccountID:eq(" + index + ")").val(),
                AmazonAccountID: $("input#AmazonAccountID:eq(" + index + ")").val(),
                CompanySCID: $("input#CompanySCID:eq(" + index + ")").val()
            }
        }
    </script>
}