@model AdminUser
@section styles{
    <style>
        .table > tbody > tr > td {
            padding: 6px 6px;
            vertical-align: middle !important;
        }
    </style>
}
@{
    var MenuList = (IEnumerable<Menu>)ViewBag.menu;
    var pageAuthIndex = 0;
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
                     data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>新增</h2>
                        <ul class="nav nav-tabs pull-right">
                            <li><a data-toggle="tab" href="#hb1">頁面總權限</a></li>
                            <li><a data-toggle="tab" href="#hb2">訂單權限</a></li>
                            <li><a data-toggle="tab" href="#hb3">品號權限</a></li>
                        </ul>
                    </header>

                    <div>
                        <div class="widget-body no-padding">
                            <form id="data-form" class="form-horizontal" method="post" enctype="multipart/form-data">
                                @Html.Hidden("IsEnable", true)
                                @Html.AntiForgeryToken()
                                <div id="content" class="tab-content">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <fieldset>
                                                <legend>使用者資料</legend>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-sm-1 control-label" })
                                                    <div class="col-sm-10 col-lg-4">
                                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "col-sm-1 control-label" })
                                                    <div class="col-sm-10 col-lg-4">
                                                        @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-sm-1 control-label" })
                                                    <div class="col-sm-10 col-lg-4">
                                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Group, htmlAttributes: new { @class = "col-sm-1 control-label" })
                                                    <div class="col-sm-10 col-lg-4">
                                                        @Html.DropDownList("Group", (IEnumerable<SelectListItem>)ViewBag.Group, "請選擇", htmlAttributes: new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Group, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="hb1">
                                        <fieldset>
                                            <div class="col-sm-12">
                                                <ol class="dd-list" id="auth-list"></ol>
                                            </div>
                                        </fieldset>
                                    </div>

                                    <div class="tab-pane" id="hb2">
                                        <fieldset>
                                            <legend>編輯頁面</legend>

                                            <div class="form-group">
                                                @{
                                                    var groupName = "PageAuth[" + pageAuthIndex++ + "]";
                                                }
                                                @Html.Hidden(groupName + "[Type]", "OrderEdit")
                                                <div class="col-sm-12 col-lg-4 col-lg-offset-1">
                                                    <table class="table table-bordered text-center">
                                                        <tbody>
                                                            <tr>
                                                                <td><span>Order Status</span></td>
                                                                <td width="100">@Html.BooleanSwitch(groupName + "[GroupEdit][OrderStatus]", false)</td>
                                                            </tr>
                                                            <tr>
                                                                <td><span>Rush Order</span></td>
                                                                <td>@Html.BooleanSwitch(groupName + "[GroupEdit][RushOrder]", false)</td>
                                                            </tr>
                                                            <tr>
                                                                <td><span>Create RMA</span></td>
                                                                <td>@Html.BooleanSwitch(groupName + "[GroupEdit][CreateRMA]", false)</td>
                                                            </tr>
                                                            <tr>
                                                                <td><span>Edit Address</span></td>
                                                                <td>@Html.BooleanSwitch(groupName + "[GroupEdit][EditAddress]", false)</td>
                                                            </tr>
                                                            <tr>
                                                                <td><span>Edit Payment</span></td>
                                                                <td>@Html.BooleanSwitch(groupName + "[GroupEdit][EditPayment]", false)</td>
                                                            </tr>
                                                            <tr>
                                                                <td><span>Shipping Action</span></td>
                                                                <td>@Html.BooleanSwitch(groupName + "[GroupEdit][ShippingAction]", false)</td>
                                                            </tr>
                                                            <tr>
                                                                <td><span>Edit Sku</span></td>
                                                                <td>@Html.BooleanSwitch(groupName + "[GroupEdit][EditSku]", false)</td>
                                                            </tr>
                                                            <tr>
                                                                <td><span>Shipping Setting</span></td>
                                                                <td>@Html.BooleanSwitch(groupName + "[GroupEdit][ShippingSetting]", false)</td>
                                                            </tr>
                                                            <tr>
                                                                <td><span>Mark Shipped</span></td>
                                                                <td>@Html.BooleanSwitch(groupName + "[GroupEdit][MarkShipped]", false)</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="widget-footer">
                                    <button type="submit" class="btn btn-primary" id="save">儲存</button>
                                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("index")'">返回</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    <script type="text/javascript">
        var hash = window.location.hash;
        $('ul.nav-tabs li').eq(hash.substr(1)).addClass('active');
        $('.tab-pane').eq(hash.substr(1)).addClass('active');

        $(document).ready(function () {
            $("form").makeValidationInline();
            $("#Group").change(function () {
                $.post("@Url.Action("MenuListAuth", "Ajax")", {
                    id: $(this).val(),
                    mod: "UE"
                }, function (data) {
                    $("#auth-list").html(data);
                });
            });
        });
    </script>
}