@model  IEnumerable<WinitTransferBox>
@{
    Layout = null;
    var i = 0;
    var count = Model.Count() - 1;
    var Mod = ViewData["Mod"]?.ToString();
    var SID = ViewData["SID"]?.ToString();
    var Del = true;
    if (!string.IsNullOrWhiteSpace(Model.FirstOrDefault()?.WinitTransfer?.WinitOrderNo))
    {
        Del = false;

    }

    var ReceiveVMList = (List<TransferItemVM>)Session["ReceiveVMList" + SID];
}
@foreach (var BoxItem in Model)
{
    var boxselect = "";
    BoxItem.Weight = BoxItem.WinitTransferBoxItem.Sum(x => x.Weight);
    if (i == count)
    {
        boxselect = "boxselect";
    } 
    <legend class="@boxselect">Box @(i + 1)</legend>
    <div class="row boxitemset @boxselect"  val="@i">
        <div class="form-group" style="margin-top:30px">
            @Html.Label("Length:", htmlAttributes: new { @class = "control-label col-sm-1" })
            <div class="col-sm-4 col-lg-1">
                @Html.EditorFor(model => BoxItem.Length, new { htmlAttributes = new { @class = "form-control postval", index = i, @id = "Length_" + i } })
            </div>
            @Html.Label("Width:", htmlAttributes: new { @class = "control-label col-sm-1" })
            <div class="col-sm-4 col-lg-1">
                @Html.EditorFor(model => BoxItem.Width, new { htmlAttributes = new { @class = "form-control postval", @id = "Width_" + i } })
            </div>
            @Html.Label("Height:", htmlAttributes: new { @class = "control-label col-sm-1" })
            <div class="col-sm-4 col-lg-1">
                @Html.EditorFor(model => BoxItem.Heigth, new { htmlAttributes = new { @class = "form-control postval", @id = "Heigth_" + i } })
            </div>
            @Html.Label("Weight:", htmlAttributes: new { @class = "control-label col-sm-1" })
            <div class="col-sm-4 col-lg-1">
                @Html.EditorFor(model => BoxItem.Weight, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>
        <article class="col-xs-12 " val="@i">
            <div class="form-group">
                <div class="col-sm-9 col-lg-8">
                    <table id="DataGrid[@i]" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>SKU</th>
                                <th>Name</th>
                                <th>Serial</th>
                                <th>
                                    S Barcode
                                    <a class="btn btn-default" target="_blank" href="@Url.Action("DownloadSCode",new {boxid= BoxItem.ID})">下載</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (BoxItem.WinitTransferBoxItem != null)
                            {
                                foreach (var item in BoxItem.WinitTransferBoxItem.OrderBy(x=>x.SkuNo))
                                {
                                    <tr>
                                        <td>
                                            @if (Del)
                                            {
                                                <button type='button' class='glyphicon glyphicon-remove btn-danger delserials' value="@item.SerialsLlistID"></button>
                                            }
                                            @item.SkuNo
                                        </td>
                                        <td>@Html.Raw(item.Name)</td>
                                        <td>
                                            @item.SerialsNo
                                            @if (ReceiveVMList != null && ReceiveVMList.Where(x => x.SerialsLlist.Where(y => y.SerialsNo == item.SerialsNo).Any()).Any())
                                            {
                                                <span class="glyphicon glyphicon-ok" style="color:red"></span>
                                            }
                                        </td>
                                        <td>
                                            @item.BarCode
                                            @if (Mod == "Receive")
                                            {

                                            }
                                            else
                                            {
                                                <input type="button" onclick="javascript:jsWebClientPrint.print('key=serial&id=@item.WinitTransferSKUID + &Page=@item.FilePage');" value="補印" />
                                                <a  class="btn btn-default" target="_blank" href="@Url.Action("DownloadSCode",new {item.SerialsLlistID})">下載</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
    </div>
    i++;
}                           