@model RMA
@{
    ViewBag.title = "新增RMA";
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2>@ViewBag.title </h2>
                        <ul class="nav nav-tabs pull-right">
                            <li><a data-toggle="tab" href="#hb1">@ViewBag.title</a></li>
                        </ul>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <form id="data-form" class="form-horizontal" method="post" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()
                                <div id="content" class="tab-content">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="tab-pane" id="hb1">
                                        <fieldset>
                                            <legend>@ViewBag.title</legend>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.OrderID, htmlAttributes: new { @class = "control-label col-sm-1" })
                                                <div class="col-sm-9 col-lg-2">
                                                    @Html.Editor("OrderID", new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                                @Html.LabelFor(model => model.SourceCaseID, htmlAttributes: new { @class = "control-label col-sm-1" })
                                                <div class="col-sm-9 col-lg-2">
                                                    @Html.Editor("SourceCaseID", new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                                @Html.LabelFor(model => model.SourceID, htmlAttributes: new { @class = "control-label col-sm-1" })
                                                <div class="col-sm-9 col-lg-2">
                                                    @Html.Editor("SourceID", new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                                <div class="col-sm-9 col-lg-2">
                                                    <button type="button" id="btnsearch" class="btn btn-info btn-lg">Search</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="row">
                                                <article class="col-xs-12">
                                                    <table id="DataGridC" class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th><input type="checkbox" /></th>
                                                                <th>Order</th>
                                                                <th>SKU</th>
                                                                <th>Product Name</th>
                                                                <th>訂單數</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                        </tbody>

                                                        <tfoot>
                                                        </tfoot>
                                                    </table>
                                                </article>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="widget-footer">
                                    <button type="submit" class="btn btn-primary" id="save">儲存</button>
                                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index")'">返回</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section pagespecific {
    <script type="text/javascript">
        var hash = window.location.hash;
        $('ul.nav-tabs li').eq(hash.substr(1)).addClass('active');
        $('.tab-pane').eq(hash.substr(1)).addClass('active');
        var DataGrid;
        var tableID = "#DataGridC";
        $(document).ready(function () {
             DataGrid = $(tableID).DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                columns: [
                    {
                        data: "ck",
                        className: 'select-checkbox',
                        orderable: false,
                        render: function (data, type, obj, meta) {
                            return '<input type="checkbox" value="' + data + '">';
                        }
                    },
                    { data: "Order" },
                    { data: "SKU" },
                    { data: "ProductName" },
                    { data: "QTY", render: function (data, type, row) { return '<input class="form-control" type="text"   value = ' +data + ' > '; } },
                ],
                ajax: {
                    traditional: true,
                    method: "get",//或post，自由決定，影響到Server端用FormCollection取值或Request.QueryString取得DataTables傳遞的資訊
                    url: "@Url.Action("RSkuNumberList")",
                    data: function (d) {
                        var OrderID = $("#OrderID").val();
                        var SourceID = $("#SourceID").val();
                        var UserID = $("#UserID").val();
                        d.OrderID = OrderID;
                        d.SourceID = SourceID;
                        d.UserID = UserID;
                    }
                },
                serverSide: true,//啟用ServerSide模式
                deferLoading: 0, //初始化DataTable時，不發出ajax
                orderMulti: false,
                "paging": false,
                "ordering": false,
                "info": true,
                "searching": false, "footerCallback": function (row, data, start, end, display) {
                }
            });
            $("#btnsearch").click(function () {
                DataGrid.draw();
            });
        });
    </script>
}
