@model RMAVM
    @{
        ViewBag.ptitle = "RMA";
        var CompanyDDL = EnumData.CompanyDDL().Select(x => new SelectListItem { Text = x.Value, Value = x.Key }).ToList();
        var Warehouselist = EnumData.WarehouseDDL().Select(x => new SelectListItem { Text = x.Value, Value = x.Key }).ToList();
        var RMAStatusDDL = EnumData.RMAStatusDDL().Select(x => new SelectListItem { Text = x.Value, Value = x.Key }).ToList();
        var CountryList = EnumData.CountryList().Select(x => new SelectListItem { Text = x.Value, Value = x.Key }).ToList();
        var ChannelList = EnumData.ChannelList().Select(x => new SelectListItem { Text = x.Value, Value = x.Key }).ToList();
        var DefaultSelect = PurchaseOrderSys.App_GlobalResources.Resource.DefaultSelect;
        var RMAReasonList = EnumData.RMAReasonList();
    }
    <style>
        tfoot {
            display: table-header-group;
        }
    </style>
    <div id="content">
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-xs-12">
                    <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                            <h2>@ViewBag.ptitle</h2>
                            <ul class="nav nav-tabs pull-right">
                                <li><a data-toggle="tab" href="#hb1">@ViewBag.ptitle</a></li>
                            </ul>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <div id="content" class="tab-content">
                                    <div class="tab-pane" id="hb1">
                                        <fieldset>
                                            <legend>Search</legend>
                                            <form id="data-form" class="form-horizontal" method="post" enctype="multipart/form-data">
                                                <div class="form-group">
                                                    @Html.Label("CompanyID", htmlAttributes: new { @class = "control-label col-sm-2" })
                                                    <div class="col-sm-9 col-lg-2">
                                                        @Html.DropDownListFor(model => model.CompanyID, CompanyDDL, DefaultSelect, htmlAttributes: new { @class = "form-control" })
                                                    </div>
                                                    @Html.Label("Channel", htmlAttributes: new { @class = "control-label col-sm-2" })
                                                    <div class="col-sm-9 col-lg-2">
                                                        @Html.DropDownListFor(model => model.Channel, ChannelList, DefaultSelect, htmlAttributes: new { @class = "form-control" })
                                                    </div>
                                                    @Html.Label("Country", htmlAttributes: new { @class = "control-label col-sm-2" })
                                                    <div class="col-sm-9 col-lg-2">
                                                        @Html.DropDownListFor(model => model.Country, CountryList, DefaultSelect, htmlAttributes: new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("SourceID", htmlAttributes: new { @class = "control-label col-sm-2" })
                                                    <div class="col-sm-9 col-lg-2">
                                                        @Html.Editor("SourceID", new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                    @Html.Label("ID", htmlAttributes: new { @class = "control-label col-sm-2" })
                                                    <div class="col-sm-9 col-lg-2">
                                                        @Html.Editor("QID", new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                    @Html.Label("OrderID", htmlAttributes: new { @class = "control-label col-sm-2" })
                                                    <div class="col-sm-9 col-lg-2">
                                                        @Html.Editor("OrderID", new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("SC User ID", htmlAttributes: new { @class = "control-label col-sm-2" })
                                                    <div class="col-sm-9 col-lg-2">
                                                        @Html.Editor("SCUserID", new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                    @Html.Label("SC RMA ID", htmlAttributes: new { @class = "control-label col-sm-2" })
                                                    <div class="col-sm-9 col-lg-2">
                                                        @Html.Editor("SCRMA", new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                    @Html.Label("Serial", htmlAttributes: new { @class = "control-label col-sm-2" })
                                                    <div class="col-sm-9 col-lg-2">
                                                        @Html.Editor("Serial", new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>
                                                <div class="col-lg-offset-10">
                                                    <button type="submit" id="btn-search" class="btn btn-info btn-lg">Search</button>
                                                </div>
                                            </form>
                                        </fieldset>
                                        <fieldset>
                                            <legend></legend>
                                            <div class="form-group">
                                                <div class="col-sm-9  col-lg-offset-11">
                                                    <a type="button" href="@Url.Action("Create")" class='btn btn-danger btn-sm' id='btn-Add'>Create</a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <article class="col-xs-12">
                                                    <table id="DataGrid" class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th><input type="checkbox" /></th>
                                                                <th></th>
                                                                <th>RMA #</th>
                                                                <th>Order #</th>
                                                                <th>Return Tracking</th>
                                                                <th>Return Warehouse</th>
                                                                <th>Reason</th>
                                                                <th>Status</th>
                                                                <th>Action</th>
                                                                <th>Created Date</th>
                                                                <th>Created By</th>
                                                            </tr>
                                                        </thead>
                                                        <tfoot></tfoot>
                                                        <tbody>
                                                            @if (Model != null && Model.RMAList != null)
                                                            {
                                                                foreach (var item in Model.RMAList)
                                                                {
                                                            <tr>
                                                                <td><input type="checkbox" /></td>
                                                                <td class="details-control" RMAID="@item.ID"></td>
                                                                <td><a id='Edit' href='@Url.Action("Edit", new { item.ID })'>@item.ID</a></td>
                                                                <td>
                                                                    <a href='@Url.Action("Edit","order",new {id=item.QDID })' target="_blank">@item.QDID</a>
                                                                    <a href='https://dm.cwa.sellercloud.com/Orders/Orders_details.aspx?id=@(item.OrderID)' target="_blank">@item.OrderID</a>
                                                                    <br />
                                                                    @item.SourceID
                                                                </td>
                                                                <td>
                                                                   @{Html.RenderPartial("ReturnTracking", item);}

                                                                </td>
                                                                <td>
                                                                    @if (item.RMASKU.Where(x => x.IsEnable).Any())
                                                                    {
                                                                        if (item.RMASKU.Where(x => x.IsEnable).Count() == 1)
                                                                        {
                                                                            @(item.RMASKU.Where(x => x.IsEnable).FirstOrDefault().Warehouse?.Name)
                                                                        }
                                                                        else
                                                                        {
                                                                            @:multi
                                                                        }
                                                                    }
                                                                </td>
                                                                <td>

                                                                    @if (item.RMASKU.Where(x => x.IsEnable).Any())
                                                                    {
                                                                        if (item.RMASKU.Where(x => x.IsEnable).Count() == 1)
                                                                        {
                                                                            var Reasonval = item.RMASKU.Where(x => x.IsEnable).FirstOrDefault()?.Reason;
                                                                            var Reason = 0;
                                                                            int.TryParse(Reasonval, out Reason);
                                                                            @(RMAReasonList[Reason])
                                                                        }
                                                                        else
                                                                        {
                                                                            @:multi
                                                                        }
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @item.Status
                                                                </td>
                                                                <td>
                                                                    @item.Action
                                                                </td>
                                                                <td>@item.CreateAt.ToLocalTime()</td>
                                                                <td>@item.CreateBy</td>
                                                            </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </article>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
    @section pagespecific {
        <script type="text/javascript">
            var hash = window.location.hash;
            $('ul.nav-tabs li').eq(hash.substr(1)).addClass('active');
            $('.tab-pane').eq(hash.substr(1)).addClass('active');
            $(document).ready(function () {
                var tableID = "#DataGrid";
                $(tableID + " thead tr").clone().appendTo($(tableID + " tfoot"));
                $(tableID + " tfoot th").each(function () {
                    var title = $(this).text();
                    if (title != "") {
                        $(this).html('<input type="text" placeholder="Search ' + title + '" />');
                    }
                    else {
                        $(this).html('');
                    }
                });
                var DataGridC = $(tableID).DataTable({
                    "columnDefs": [
                        { "orderable": false, "targets": 0 },
                        { "orderable": false, "targets": 1, "className": 'details-control' },
                    ],
                    "order": []
                });
                DataGridC.columns().every(function () {
                    var that = this;
                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
                $(tableID + ' tbody').on('click', 'td.details-control', function () {
                    var tr = $(this).closest('tr');
                    var row = DataGridC.row(tr);
                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    }
                    else {
                        // Open this row
                        var RMAID = $(this).attr("RMAID");
                        row.child(GetSerialList(RMAID)).show();
                        tr.addClass('shown');
                    }
                });
            });
            function GetSerialList(ID) {
                var div = $('<div style="border:2px blue solid;" />').addClass('loading').text('Loading...');
                $.ajax({
                    type: "post",
                    url: "@Url.Action("GetRMASKUList")",
                    data: {
                        ID: ID
                    },
                    success: function (data) {
                        if (data.status) {
                            div.html(data.partial).removeClass('loading');
                        }
                        else {
                            val = data.Errmsg;
                        }
                    }
                });
                return div;
            }
        </script>
    }





