@model PurchaseOrder
@{
    ViewBag.title = "Receiving";
    var dtval = DateTime.UtcNow.ToString("yyyy/MM/dd");
    var POTypeDDL = EnumData.POTypeDDL().Select(x => new SelectListItem { Text = x.Value, Value = x.Key }).ToList();
    var POStatusDDL = EnumData.POStatusDDL().Select(x => new SelectListItem { Text = x.Value, Value = x.Key }).ToList();
    var VendorDDL = EnumData.VendorDDL().Select(x => new SelectListItem { Text = x.Value, Value = x.Key }).ToList();
    var CompanyDDL = EnumData.CompanyDDL().Select(x => new SelectListItem { Text = x.Value, Value = x.Key }).ToList();
    var ReceiveStatusDDL = EnumData.ReceiveStatusDDL().Select(x => new SelectListItem { Text = x.Value, Value = x.Key }).ToList();
    var PaymentStatusDDL = EnumData.PaymentStatusDDL().Select(x => new SelectListItem { Text = x.Value, Value = x.Key }).ToList();

    var DefaultSelect = PurchaseOrderSys.App_GlobalResources.Resource.DefaultSelect;

    if (Model != null)
    {
        if (Model.PODate.HasValue)
        {
            dtval = Model.PODate.Value.ToString("yyyy/MM/dd");
        }
    }
}
<style>
    .img {
        max-width: 500px;
        margin: 5px;
    }
    .timg {
        max-width: 100px;
    }
    .Imgbtn {
        width: 120px;
        height: 100px;
        text-align: center;
        line-height: 90px;
    }
    table tbody tr td {
        vertical-align: middle !important;
    }
</style>
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2>新增</h2>
                        <ul class="nav nav-tabs pull-right">
                            <li><a data-toggle="tab" href="#hb1">@ViewBag.title</a></li>
                        </ul>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <form id="data-form" class="form-horizontal" method="post" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="IsEnable" value="True">
                                <div id="content" class="tab-content">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="tab-pane" id="hb1">
                                        <fieldset>
                                            <legend>@ViewBag.title</legend>
                                          
                                            <div class="form-group">
                                                @Html.Label("PO #:", htmlAttributes: new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-9 col-lg-2">
                                                    @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.POType, htmlAttributes: new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-9 col-lg-2">
                                                    @Html.DropDownListFor(model => model.POType, POTypeDDL, DefaultSelect, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.POType, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.InvoiceNo, htmlAttributes: new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-9 col-lg-2">
                                                    @Html.EditorFor(model => model.InvoiceNo, new { htmlAttributes = new Dictionary<string, object> { { "class", "form-control datepicker " } } })
                                                    @Html.ValidationMessageFor(model => model.InvoiceNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.Label("Vendor Invoice", htmlAttributes: new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-9 col-lg-2">
                                                    <input class="form-control" type="number" min="0" max="10">
                                                    @*@Html.Editor("VendorInvoice", new { htmlAttributes = new { @class = "form-control" } })*@
                                                    <input type='file' class="ImgFile" name="VendorInvoice" id="VendorInvoice" multiple>
                                                </div>
                                                <div class="col-sm-9 col-lg-2">
                                                    <div class="opreview">
                                                        @foreach (var item in Model.ImgFile.Where(x => x.IsEnable && x.ImgType == "VendorInvoice"))
                                                        {
                                                            <a class="aimg" href="@item.Url" data-lightbox="roadtrip"><img class="img" src="@item.Url" /></a>
                                                        }
                                                    </div>
                                                    <div class="preview" id="VendorInvoicepreview">
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <legend></legend>
                                            <div class="row">
                                                <article class="col-xs-12">
                                                    <table id="DataGridC" class="table table-bordered table-striped text-center dataTable no-footer">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th width="20px"></th>
                                                                <th>SKU</th>
                                                                <th>Name</th>
                                                                <th>UPC/EAN</th>
                                                                <th>QTY Ordered</th>
                                                                <th>QTY Received</th>
                                                                <th>Received Serials</th>
                                                                <th>Serial</th>
                                                                <th>Size</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </article>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="widget-footer">
                                   <button type="submit" class="btn btn-primary" id="save">儲存</button>
                                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index")'">返回</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<div id="dialog">
    
</div>
@section pagespecific {
    <link href="~/Content/css/lightbox.css" rel="stylesheet" />
    <script src="~/Scripts/lightbox.js"></script>
    <script type="text/javascript">
        var hash = window.location.hash;
        $('ul.nav-tabs li').eq(hash.substr(1)).addClass('active');
        $('.tab-pane').eq(hash.substr(1)).addClass('active');
        var tableID = "#DataGridC";
        $(document).ready(function () {
            var DataGridC = $(tableID).DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                columns: [
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    },
                    {
                        data: "", render: function (data, type, row, meta) {
                            var input = "";
                            if (row.Url == "" || row.Url == null) {
                                input = '<a class="btn btn-default btn-sm Imgbtn" valID="' + row.ID + '">upload</a>';
                            }
                            else {
                                input = '<a class="btn btn-default btn-sm Imgbtn" valID="' + row.ID + '"><img class="timg" src="../../Uploads/' + row.Url + '" /></a>';
                            }
                            return input
                        }
                    },
                    {
                        data: "SKU", render: function (data, type, row, meta) {
                            return "<a  target='_blank' href='" + "@Url.Action("edit", "Sku")" + "?id=" + row.SKU + "#5'>" + row.SKU + "</a>";
                        }
                    },
                    { data: "Name" },
                    { data: "UPCEAN" },
                    { data: "QTYOrdered", render: function (data, type, row) { return data; } },
                    {
                        data: "QTYReceived", render: function (data, type, row, meta) {

                            if (row.SerialTracking) {
                                return "";
                            }
                            else {
                                if (data == 0 || data == null) {
                                    return '<input class="form-control" type="number"  vmin="0" vmax="' + row.QTYOrdered + '" id="QTYReceived[' + meta.row + ']" name="QTYReceived[' + meta.row + '].val" > <input type="hidden" name="QTYReceived[' + meta.row + '].ID" value = ' + row.ID + ' />';
                                }
                                else {
                                    return '<input class="form-control" type="number"  vmin="0" vmax="' + row.QTYOrdered + '" id="QTYReceived[' + meta.row + ']" name="QTYReceived[' + meta.row + '].val" value = ' + data + ' > <input type="hidden" name="QTYReceived[' + meta.row + '].ID" value = ' + row.ID + ' />';
                                }
                            }
                        }
                    },
                    { data: "SerialQTY", render: function (data, type, row) { return data; } },
                    { data: "Serial", render: function (data, type, row) { return data; }  },
                    { data: "Size" },
                    {
                        data: "ck",
                        orderable: false,
                        render: function (data, type, row) {
                            if (row.SerialTracking) {
                                return "<a href='" + "@Url.Action("Addserials")" + "?ID=" + row.ID + "' class='btn btn-default btn-sm' >Add serials</a> <a valID=" + row.ID + " class='btn btn-default btn-sm Excel' >Add by Excel</a>";
                            }
                            else {
                                return "";
                            }
                        }
                    }
                ],
                ajax: {
                    traditional: true,
                    method: "get",//或post，自由決定，影響到Server端用FormCollection取值或Request.QueryString取得DataTables傳遞的資訊
                    url: "@Url.Action("GetSkuNumberList", "Ajax")",
                    data: function (d) {
                        d.ID =@Model.ID;
                        $("#gebruikerId").val(null).trigger('change');
                    }
                },
                serverSide: true,//啟用ServerSide模式
                //deferLoading: 0, //初始化DataTable時，不發出ajax
                orderMulti: false,
                "paging": false,
                "ordering": false,
                "info": true,
            });
            $("#gebruikerId").select2({
                minimumInputLength: 1,
                placeholder: "Search",
                allowClear: true,
                multiple: true,
                ajax: {
                    url: "@Url.Action("SkuNumberGet", "Ajax")",
                    dataType: 'json',
                    delay: 0,
                    data: function (term) {
                        return {
                            Search: term.term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data.items
                        };
                    }
                }
            });
            $("#addsku").click(function () {
                DataGridC.draw();
            });
            $("#addnote").click(function () {
                $.ajax({
                    traditional: true,
                    type: "post",
                    url: "@Url.Action("CreatNote")",
                    data: {
                        ID:"@Html.DisplayFor(x=>x.ID)",
                        Note: $("#textnote").val()
                    },
                    success: function (data) {
                        if (data.status) {
                            $("#textnote").val("");
                            $("#textnotelog li").remove();
                            data.datalist.forEach(function (value) {
                                //$("#textnotelog").append("<li>Appended item</li>");
                                $("#textnotelog").append("<li><fieldset><legend>" + value.Note + "<br />" + value.CreateAt + "；" + value.CreateBy + "</legend></fieldset></li>");
                            });
                        }
                        else {
                            alert(data.Errmsg);
                        }
                    }
                });
            });
            $("#Tax").change(function () {
                DataGridC.draw();
            });
            $(tableID + ' tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = DataGridC.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(GetSerialList(row.data())).show();
                    tr.addClass('shown');
                }
            });
            $("#dialog").dialog({
                autoOpen: false,
                width: 800
            });
            $("body").on("click", ".Imgbtn", function () {
                var url = '@Url.Action("GetImg", "Ajax")'
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { id: $(this).attr("valID"), key: "SKU", ImgType: "ImgType" },
                    success: function (data) {
                        $("#dialog").dialog({
                            title: "Img"
                        });
                        $("#dialog").html(data);
                        $("#dialog").dialog("open");
                        //$("#dialog").load(data).dialog({ modal: true }).dialog('open');
                    }
                });
                return false;
            });
            $("body").on("click", ".Excel", function () {
                var url = '@Url.Action("SerialsExcel", "Ajax")'
                $.ajax({
                    url: url,
                    data: { id: $(this).attr("valID"), key: "Addserials", ImgType: "ImgType" },
                    success: function (data) {
                        $("#dialog").dialog({
                            title: "Excel"
                        });
                        $("#dialog").html(data);
                        $("#dialog").dialog("open");
                        //$("#dialog").load(data).dialog({ modal: true }).dialog('open');
                    }
                });
                return false;
            });
            $("body").on("change", "input[type = 'number']", function () {
                var val = parseInt($(this).val());
                var vmin = parseInt($(this).attr("vmin"));
                var vmax = parseInt($(this).attr("vmax"));
                if (val < vmin || val > vmax) {
                    $(this).val("")
                    $(this).focus();
                    alert("必須介於 " + vmin + " 到 " + vmax + " 之間")
                }
            });
        });
        function GetSerialList(d) {
            var div = $('<div style="border:2px blue solid;" />').addClass('loading').text('Loading...');
            $.ajax({
                type: "post",
                url: "@Url.Action("GetSerialList")",
                data: {
                    ID: d.ID
                },
                success: function (data) {
                    if (data.status) {
                        div.html(data.partial).removeClass('loading');
                    }
                    else {
                        val = data.Errmsg;
                    }
                }
            });
            return div;
        }
        function Success(data) {
            $("#dialog").dialog("close");
            if (data.status == false) {
                alert(data.Msg);
            }
            if (data.reload == true) {
                window.location.reload();
            }
        }
        var Preview = new function () {

            var root = $("body");

            // 連續的圖片編碼
            var imgcode = '';

            // 選取發生改變
            this.change_file = function () {
                root.on("change", ".ImgFile", function () {
                    show(this);
                });
            }

            // 批次圖片，先清空後再插入
            var show = function (input) {
                if (input.files && input.files[0]) {
                    clean(input.ID);
                    each_img(input.files, input.id);
                }
            }

            // 批次讀取，最後再一次寫入
            var each_img = function (files, ID) {

                $.each(files, function (index, file) {
                    var src = URL.createObjectURL(file);
                    create_imgcode(src);
                });

                // 放置預覽元素後重設
                root.find("#" + ID + "preview").html(imgcode);
                reset();
            }


            // 建立圖片
            var create_imgcode = function (src) {
                imgcode += '<a class="aimg" href="' + src + '" data-lightbox="roadtrip"><img class="img" src="' + src + '" /></a>';
            }


            // 清空預覽區域
            var clean = function (ID) {
                root.find("#" + ID + "preview").empty();
            }

            // 還原 input[type=file]
            var reset = function () {
                imgcode = '';
                //root.find("#VendorInvoice").val(null);
            }
        }
        // 執行
        Preview.change_file();
    </script>
}